<div class="container-custom">
  <h1><%= "#{@artisan.company}" %></h1>
  <div class="flex">
    <div class="user-left-col">
      <%= image_tag(url_for(@items.all.last.photos.last)) %>
      <div class="flex ninety">
        <div class="user-info">
          <h4>CONTACTS</h4>
          <p><%= @artisan.email %></p>
          <h4>EVENTS</h4>
          <% @event_users.each do |event| %>
          <div class="flex">
            <p><%= event.title %></p><p><%= event.start_time.strftime("%d %B %Y") %></p>
          </div>
          <% end %>
        </div>
        <div class="user-info">
          <h4>WHERE FROM</h4>
          <div class="map-user">
            <div class="map-container"
            data-controller="map"
            data-map-markers-value="<%= @markers.to_json %>"
            data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
            </div>
          </div>
        </div>
      </div>

      <div class="ninety">
        <h4>ABOUT</h4>
        <p><%= @artisan.description %></p>
      </div>
    </div>
    <div class="user-right-col">
      <% @items.take(6).each do |item| %>
        <div class="item-card-sm">
          <a href="<%= item_path(item) %>" class="item-card-a-sm">
            <%# <div class="text"> %>
              <%# <h5><%= item.name %>
              <%# <p class="price"><%= item.price %>
            <%# </div> %>
            <div class="item-img">
              <%= image_tag(url_for(item.photos.first)) %>
            </div>
          </a>
        </div>
      <% end %>
    </div>
  </div>
</div>
