<div class="container-custom flex">
  <div>
  <div class="row-event gap-30">
    <% @events.each do |event| %>
      <div class="event-card">
        <a href="<%= event_path(event) %>">
          <h3><%= event.title %></h3>
          <p><%= event.location %></p>
          <p><%= event.description %></p>
          <p><%= event.start_time.strftime("%d %B %Y, %H:%M") %></p>
          <p><%= event.end_time.strftime("%d %B %Y, %H:%M") %></p>
        </a>
      </div>
    <% end %>
  </div>
  </div>
  <div class="map-big">
    <div class="map-container"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>
</div>
