<div class="map-big general-margin-top">
  <div class="map-container"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
<div>
  <div class="row-event">
    <% @events.each do |event| %>
      <div class="event-card">
        <a href="<%= event_path(event) %>">
          <h3><%= event.title %></h3>
          <p><%= event.location %></p>
          <p><strong><%= event.start_time.strftime("%d %B %Y") %></strong><br>
          From <%= event.start_time.strftime("%H:%M") %> to <%= event.end_time.strftime("%H:%M") %></p>
          <p>
            <% @event_users.where(event_id: event).map(&:user).uniq.each do |user| %>
              <%= user.company %>
            <% end %>
          </p>
        </a>
      </div>
    <% end %>
  </div>
</div>
