<div class="container-custom">
  <div>
    <h1><%= @event.title %></h1>
    <p><%= @event.location %></p>
    <p><%= @event.description %></p>
    <p><%= @event.start_time %></p>
    <p><%= @event.end_time %></p>
  </div>
</div>
