<div class="banner banner<%= "#{rand(2..4)}" %>">
  <h1>Artigiani</h1>
  <p>superior quality<br>
  sustainable production<br>
  fair price</p>
</div>
<div class="container-custom">
  <div class="row-custom gap-15">
    <a href="<%= materials_path %>" class="card-third background-standard card1 shadow"><h4>Materials & Details</h4></a>
    <a href="<%= users_path %>" class="card-third background-standard card3 shadow"><h4>our Artisans</h4></a>
    <a href="<%= sustainability_path %>" class="card-third background-standard card4 shadow"><h4>Sustainability & Ethics</h4></a>
  </div>
  <div class="row-custom gap-15">
    <a href="<%= items_path %>" class="card-half background-standard card2 shadow"><h4>the Market</h4></a>
    <a href="<%= events_path %>" class="card-half background-standard card5 shadow"><h4>Events</h4></a>
  </div>
</div>
