<div class="search">
  <%= form_with url: items_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Search item by artisan or description"
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-search" %>
    <% end %>
</div>
<div class="container-custom">
  <div class="row-custom gap-30">
    <% @items.each do |item| %>
      <div class="item-card">
        <a href="<%= item_path(item) %>" class="item-card-a">
          <div class="text">
            <h4><%= item.name %></h4>
            <p><%= item.user.company %></p>
            <p class="price"><%= item.price %> €</p>
          </div>
          <div class="item-img">
            <div class="item-btns">
              <% if user_signed_in? %>
                <%= link_to item_favourites_path(item), data: { turbo_method: :post } do %>
                  <i class="fa-solid fa-heart fa-lg"></i>
                <% end %>
              <% else %>
                <a href="<%= new_user_session_path %>" class="item-btn"><i class="fa-solid fa-heart fa-xl"></i></a>
              <% end %>
              <a href="#" class="item-btn"><i class="fa-solid fa-bag-shopping fa-xl"></i></a>
            </div>
            <%= image_tag(url_for(item.photos.first)) %>
          </div>
        </a>
      </div>
    <% end %>
  </div>
</div>
